.checkout-side-menu {
  width: 360px;
  height: calc(100vh - 68px);
  top: 68px;
}

@media (max-width: 768px) {
  .checkout-side-menu {
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 50;
    border: none;
    border-radius: 0;
  }
}
